@import "./color_schemes/light";

$content-width: 64rem;

$blue-000: #419cba;
$blue-100: #52c5eb;
$blue-200: #6ea5b8;
$blue-300: #6884a1;
$blue-400: #3f4954;
$green-100: #42bbbb;
$red-100: #eb6a8c;
$red-200: #ed493b;

// $body-background-color: $grey-dk-300;
$body-heading-color: $blue-300;
$link-color: $blue-000;
// $nav-child-link-color: $color-5;
// $sidebar-color: $grey-dk-300;
// $base-button-color: $color-7;
// $btn-primary-color: $blue-200;
// $feedback-color: darken($sidebar-color, 3%);
// $table-background-color: $grey-dk-250;
// $search-background-color: $grey-dk-250;
// $search-result-preview-color: $grey-dk-000;
// $border-color: $grey-dk-200;