{{ include.heading | markdownify }}
<div class="d-lg-flex gap-x-4" {% if include.reverse %}style="flex-direction: row-reverse"{% endif %}>
  <div style="flex: 1">
    {{ include.content | markdownify }}
  </div>
  <div style="flex: 1">
  {% if include.image %}
    <img src="{{ include.image }}" alt="{{ include.heading }}">
  {% endif %}
  {% if include.video %}
    <video muted controls loop class="w-full">
      <source src="{{ include.video }}" type="video/mp4">
    </video>
  {% endif %}
  </div>
</div>